#
# 81-irradium.rules
#

# Set rfkill device writable by netdev group
KERNEL=="rfkill", GROUP:="netdev", MODE:="0664

KERNEL=="fuse", ACTION=="add", RUN+="/bin/mount -t fusectl fusectl /sys/fs/fuse/connections"

# Set default perms for /dev/ppp:
KERNEL=="ppp", MODE="0660", GROUP="dialout", OPTIONS+="static_node=ppp"
