#
# /etc/rc.d/postgresql: start, stop or restart PostgreSQL server postmaster
#

PG_DATA=/var/lib/pgsql/data

[ ! -e /run/postgresql ] && install -d -o postgres -g postgres /run/postgresql

case "$1" in
  start|stop|status|restart|reload)
    sudo -u postgres pg_ctl -D "$PG_DATA" -l /var/log/postgresql.log "$1" ;;
  *)
    echo "usage: $0 start|stop|restart|reload|status" ;;
esac

# End of file
